/* animation */
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


/* font */
@font-face{
    src: url('../font/OpenSans-Regular.ttf');
    font-family: openSansRegular;
}
@font-face{
    src: url('../font/OpenSans-Light.ttf');
    font-family: openSansLight;
}


/* init */
*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background: black;
    overflow: hidden;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}


/* ui dna */
div.ui-dna{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 34vh;
    height: 75vh;
    transform: translate(-50%, -50%);
}
/* dna open line */
div.ui-dna-openLine{
    position: absolute;
    width: 50%;
    height: 1px;
    background: #57cbff;
}
/* dna edge */
div.ui-dna-edge{
    position: absolute;
    width: calc(100vh * 45 / 1080);
    height: calc(100vh * 85 / 1080);
    background: url('../../assets/src/ui-dna-edge.png') no-repeat center center / cover;
    opacity: 0;
}
/* dna searching */
div.ui-dna-searching-wrap{
    position: absolute;
    width: 100%;
    height: 5%;
    transform: translate(0, -50%);
    /* opacity: 0;  */
    opacity: 1; 
    font-family: openSansLight;
    font-size: 1.6vh;
}
div.ui-dna-searching-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 97%;
    height: 1px;
    background: #57cbff;
    transition: transform 0.3s;
}
div.ui-dna-searching-box{
    position: absolute;
    width: 2px;
    height: 2px;
    border: 1px solid #57cbff;
    transition: opacity 0.3s 0.3s;
}
span.ui-dna-searching-text{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(110%, -60%);
    letter-spacing: 2px;
    transition: opacity 0.3s 0.3s;
}
div.ui-dna-searching-text-loading{
    display: inline-block;
    width: 0.3vh;
    height: 0.3vh;
    margin-left: -0.2vh;
    border-radius: 50%;
    background: white;
}